body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p {
  font-family: Lora;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
}

#background {
  background-image: url('../images/background-image.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.container-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  width: 20%;
  flex-wrap: wrap;
  min-width: 250px;
  margin-top: 16px;
}

.card:hover {
  background: #F8FEFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.card h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.6vh;
  line-height: 42px;
  color: #43BCCD;
  margin: 1.6vh;
}

.card img {
  width: 100%;
}

.home {
  height: 100%;
}

#logo {
 height: 36px;
 padding: 8px 16px 0 24px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 7vh;
  color: #FAFFFF;
  margin: 30vh 0 0 0;
}

.home-description {
  font-family: 'Lora', serif;
  font-size: 3.5vh;
  color: #FAFFFF;
  margin: 0;
}

.icon {
  text-align: center;
  width: 30%;
  /* height: 300px; */
  min-width: 250px;
  border-bottom: 2px solid white;
}

.icon img {
  height: 64px;
  margin-top: 16px;
}

.icon h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vh;
  line-height: 28px;
  color: #000000;
}

.icon div {
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container {
	position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.btn {
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  background-color: #FAFFFF;
  margin-top: 36px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  border-radius: 16px;
  height: 40px;
}

.btn a {
  position: relative;
  z-index: 1;
  color: #78c7d2;
  padding: 8px 40px;
  text-decoration: none;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-75%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-6%) translateY(-25%) rotate(45deg);
}

.btn a:hover {
  color: #FAFFFF;
  transition: 1s;

}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 4vh;
  line-height: 42px;
  color: #000000;
  margin: 0 24px 0 24px;
  text-align: center;
}

.container-main {
  padding: 56px 36px;
}

.title-container {
  justify-content: center;
  margin-bottom: 4vh;
}

.title-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 8px 0 0 0;
  text-align: center;
}

.title-description span {
  color: #43BCCD;
}

#beneficts .title-description span {
  color: #F8FEFF;
}

.home > div:nth-child(3) {
  padding-left: 0vw;
  padding-top: 24px;
  text-align: center;
}

.header a {
  color: #F8FEFF;
  font-size: 2vh;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 16px 0 0 14px;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header #logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #FAFFFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #FAFFFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

hr {
  width: 20%;
  background-color: #43BCCD;
  height: 8px;
  border-radius: 25px;
  margin-bottom: 16px;
  border: none;
}

#beneficts hr {
  background-color: #F8FEFF;
}

#beneficts {
  background-color: #A7D9E0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 28px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  #logo {
    padding: 24px 20px 10px 16vw;
    height: 56px;
  }

  .home > div:nth-child(3) {
    padding-left: 16vw;
    padding-top: 24px;
    text-align: justify;
  }
}

#toggle-image {
  position:relative;
  height: 250px;
  width: 250px;
  margin-top: 16px;
}
#toggle-image img {
  position:absolute;
  left:0;
  height: 250px;
}

#security hr {
  width: 15%;
}

.content-security {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.content-security p {
  position: relative;
}

.content-security div:nth-of-type(2) {
  width: 50%;
  min-width: 300px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-top: 16px;
}


@-moz-keyframes imgFade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 @-o-keyframes imgFade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 @keyframes imgFade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }

 #toggle-image img {
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  -o-animation-name: imgFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;

  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

#toggle-image img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#toggle-image img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#toggle-image img:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#toggle-image img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

@media (max-width: 657px) {
  .content-security div:nth-of-type(2) {
    margin-left: 0;
  }
}

footer {
  padding: 80px 36px;
  background: #43BCCD;
  text-align: center;
}

footer h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3.6vh;
  line-height: 42px;
  color: #FAFFFF;
  margin: 8px 0 48px 0 ;
}

footer img {
  height: 14vh;
}

footer a {
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-transform: none;
}

footer a:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.container-social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-media {
  display: flex;
  align-items: center;
  width: 246px;
}

.social-media img {
  height: 6vh;
  margin-right: 32px;
  margin-left: 48px;
}

.social-media p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #F8FEFF;
}
